name: Markdown to HTML

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Install pandoc
        run: sudo apt install -y pandoc
      - name: Convert Markdown to HTML
        run: find -type f -name '*.md' | sed -e 's/\.md$//' | xargs -L 1 -I {} pandoc --verbose -f markdown -t html -o {}.html {}.md
      - name: Checkout branch & Commit files
        run: |
          find -type d -name '.git' -prune -o -type f -not -name '*.html' -print | xargs -L 1 -I {} rm "{}"
          git add -A
          git config --local user.name "Convert Bot"
          git config --local user.email secret.EMAIL
          git checkout -b release
          git commit -v -m "[Bot] Auto build $(date +'%Y-%m-%d')"
          git push origin release -f
